/* CSS RESET STARTS HERE */

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* CSS RESET ENDS HERE */
  /* PROJECT CSS FOLLOWS */

  :root {
    --background: #242038;
    --blue: #aac7e3;
    --pink: #EDAFB8;
    --white: #ccc;
    --tree: solid 1px #ccc;
  }

  body {
    background-color: var(--background);
    color: var(--white);
    font-family: 'Gothic A1', sans-serif;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  a:link {
    color: var(--white);
    text-decoration: none;
  }
  
  a:visited {
    color: var(--white);
    text-decoration: none;
  }

  li {
    margin: 4px 0 4px 1em;
  }
  
  .blue {
    color: var(--blue);
  }

  .pink {
    color: var(--pink);
    
  }

  .list-link {
    color: var(--white);
  }

  #file-tree {
    align-self: center;
    margin: 10% 0 0 40px;
  }

  #ddg-search {
    margin: 30px 0 0 0;
  }